@font-face {
    font-family: 'IRANSansXBold';
    src: url('/assets/font/IRANSansXBold.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSansXDemiBold';
    src: url('/assets/font/IRANSansXDemiBold.ttf') format('truetype');
}

.font-IRANSansXBold{
    font-family: IRANSansXBold;
}

.font-IRANSansXDemiBold{
    font-family: IRANSansXDemiBold;
}