@tailwind base;
@tailwind components;
@tailwind utilities;

.no-hover:hover {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}

.border-debug {
    border: 2px solid red !important;
}